@import "tailwindcss";

@import 'rsuite/dist/rsuite.min.css';

#root {
  max-width: 2000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

td:first-child {
  padding-left: .5rem;
}
td:last-child {
  padding-right: .5rem;
}

td {
  padding-right: .5rem;
}

#column_1  {width: 1rem;
  }
#column_2  {width: 30%;}
#column_3  {
  max-width: 7rem;
  min-width: 4rem;
}
#column_4 {
  width: 3rem;
}

#column_5 {
  width: 5.5rem;
}

#column_11 {
  max-width: 4rem;
}